._3SDj_IT6ZaqCbKfC4eTjb2.sJncFX1AQ0-0SzCGc9V5L._27B2PE8qRdRlQHbzPBidG6, ._3zu1R6cDitNjrJaFA1VPXj, ._3fbofimxVp_hpVM6I1TGMS, ._2XCnMY85ivEZUL6cAgK0nV, .jEUbSHJJx8vISKpWirlfx, ._2jJNpBqXMbbyOiGCElTYxZ, ._1BFbVxT49QnrAN3fqGZ1z8._1tvThPWQpORoc2taKebHxs, .x0hiXHicn7r3BG9m1FJH4, ._1vXXD2qKLnHetdKvisFzBD, ._1Pcih1cgtQusjyfxp7YPbP.Ab_CG1GZxb0mjtooTcgRC, ._1Pcih1cgtQusjyfxp7YPbP  {
    display: none;
}

._1OVBBWLtHoSPfGCRaPzpTf._3nSp9cdBpqL13CqjdMr2L_ {
    width: 1500px;
}

._1DeR7_QiQnu2UK0e2dDfYD {
    background-color: #27272900;
    border: 1px solid #34353600;
}

._1K7ubH9z5v9E6C19j2fjQU {
    background-color: #27272900;
}

.cx1ohrUAq6ARaXTX2u8YN, .res-floater-inNavbar {
    position: absolute;
}

._2vkeRJojnV7cb9pMlPHy7d {
    background-color: #00000000;
    border-bottom: 1px solid #00000000;
}

.h-jI8r2f9ozTNqu_2TBeY {
    background-color: #1a1a1b00;
}

.wBtTDilkW_rtT2k5x3eie {
    background-color: #1a1a1b00;
    border: 1px solid #34353600;
}

.q4a8asWOWdfdniAbgNhMh {
    background-color: #1a1a1b00;
}

._2L5G9B5yaoqW3IegiYN-FL {
    padding: 0.01px 0.01px;
    background-color: #0000;
}

._3JDs8KEQIXSMn1bTF2ZqJ_ {
    background-color: #1a1a1b00;
}

.rpBJOHq2PR60pnwJlUyP0 {
  box-shadow: 0px 0px 15px 2px #ffffff2b;
  border-radius: 25px;
}
